/* Style spécifique pour le titre dans la barre de navigation */
#title {
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  color: rgb(0, 89, 255);
}

form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container_main {
  display: flex;
  justify-content: center;
}

.error-message {
  color: red;
}
